@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Fugaz+One&family=GFS+Didot&family=Hepta+Slab&family=Itim&display=swap');
body{
    background-image: url(forras/kepek/hatterminta.bmp);
    background-repeat: repeat;
    background-position: 0 0;
    padding: 60px 0;
}
.foresz{
    border: solid black 9px;
    border-radius: 40px;
    background: linear-gradient(150.13deg, rgba(134, 211, 255, 0.5) 0%, rgba(238, 134, 255, 0.5) 100%);
    overflow: hidden;
}
img{
    border-radius: 40px;
    border: 5px solid #86d3ff;
    width: 100%;
}
article{
    background-color: rgba(134, 211, 255, 0.5);
    border-radius: 40px;
    padding: 20px;
    width: 100%;
    margin: auto;
    line-height: 30px;
}
header, nav{
    height: 80px;
}
nav{
    background-color: #86d3ff;
}
nav div{
    position: relative;
}
footer{
    background-color: #ee86ff;
    font-family: 'Fugaz One';
    font-size: 25px;
}
.focim{
    font-family: 'Hepta Slab';
    font-size: 45px;
}
p{
    font-family: 'Itim';
    font-size: 30px;
    margin: 0
}
nav a{
    font-family: 'Fredoka';
    font-size: 30px;
    text-decoration: none;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hatter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.18);
    filter: blur(10px);
    z-index: 1;
}
#jelenoldal{
    width: 100%;
    position: absolute;
    font-family: 'GFS Didot';
    font-size: 33px;
    letter-spacing: 0.015em;
    z-index: 2;
    color: #86d3ff;
    text-transform: uppercase;
}
main .row{
    margin: 10px 0;
}
main .col{
    display: flex;
    align-items: center;
}
nav .col{
    padding: 0;
}
